# Environment variables
.env
.env.local
.env.production

# Build outputs
dist
build

# Database
*.db
*.sqlite
*.sqlite3
*.csv

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Node
node_modules